<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body{{#if friend}} id="{{friend._id}}"{{/if}} data-logged-in-user="{{session.myId}}">
	<nav class="wrapper clearfix">
		<div class="left">
			<p>It's fun to send emoji!!!</p>
		</div>
		<div class="right">
			<p><a href="../friends/">See all friends</a></p>
		{{#if session.loggedIn}}
			<p>Hey {{session.myName}}! <a href="/friends/logout">Logout</a></p>
		{{/if}}
		</div>
	</nav>
	<div class="wrapper">
		{{{ body }}}
	</div>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>