<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body{{#if friend}} id="{{friend._id}}"{{/if}} data-logged-in-user="{{myId}}">
	<h1>Social app so fun!</h1>
	<p>You're logged in as {{#if myId}}{{myId}}{{/if}}</p>
	{{{ body }}}
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>