<p>Sign up :)</p>

<form action="/friends" method="POST">
	<input name="name" id="name-field" placeholder="name" />
	<input name="username" id="username-field" placeholder="username" />
	<input name="password" id="password-field" placeholder="password" type="password" />
	<button type="submit" id="sign-up">Submit</button>
</form>