<p>Sign up :)</p>

<form>
	<input id="name-field" placeholder="name" />
	<input id="username-field" placeholder="username" />
	<input id="password-field" placeholder="password" />
	<button type="submit" id="sign-up">Submit</button>
</form>