body {
  background-color: #c0ffee;
  color: #131918;
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1rem 0;
}
input {
  padding: .5rem;
  color: #131918;
}
input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #47948A;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #47948A;
  opacity: 1;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #47948A;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #47948A;
}
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #47948A;
}
input,
button {
  border: 1px solid #47948A;
}
button {
  padding: .5rem 1rem;
  background-color: #47948A;
  color: white;
}
body,
input,
button {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}
form {
  margin-bottom: 2rem;
}
nav div {
  float: right;
  margin-bottom: 3rem;
  padding: 1rem 0;
}
nav div p {
  margin: 0;
}
nav div.left {
  float: left;
}
nav div.right p {
  float: left;
  margin-left: 2rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 2rem 0;
}
h2 span.note {
  font-size: 1rem;
  font-weight: 400;
}
h2 span.emoji {
  position: relative;
  top: .25rem;
}
.wrapper {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto 2rem;
  text-align: center;
}
.bubble-wrapper {
  margin-bottom: 2rem;
}
.emoji-bubble {
  border: 1px dotted #47948A;
  display: inline-block;
  padding: .5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 .5rem .5rem 0;
}
.emoji-bubble span {
  background-color: lightblue;
  margin-left: .75rem;
  display: none;
  position: absolute;
  font-size: 1rem;
  padding: .5rem;
  transform: translateX(-50%);
}
.emoji-bubble span .timestamp {
  transform: none;
  margin-left: 0;
  position: relative;
  padding: 0;
}
.emoji-bubble:hover span {
  display: block;
}
a {
  color: #47948A;
  text-decoration: none !important;
  background: none;
}
a:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #47948A 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0px 15px;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
