@main-color: #c0ffee;
@text-color: #131918;
@border-color: #47948A;

body {
	background-color: @main-color;
	color: @text-color;
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1rem 0;
}

input, button {
	padding: .5rem;
    border: 1px solid @text-color;
    color: @text-color;
}

button {
	padding: .5rem 1rem;
}

body, input, button {
	font-family: 'Inconsolata', monospace;
	font-size: 1rem;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		margin-bottom: 1rem;
	}
}

form {
	margin-bottom: 2rem;
}

nav div {
	float: right;
	margin-bottom: 3rem;
	padding: 1rem 0;
	p {
		margin: 0;
	}
	&.left {
		float: left;
	}
	&.right p {
		float: left;
		margin-left: 2rem;
	}
}

h2 {
	font-size: 2rem;
	font-weight: 700;
	margin: 0 0 2rem 0;
	span.note {
		font-size: 1rem;
		font-weight: 400;
	}
	span.emoji {
		position: relative;
		top: .25rem;
	}
}

.wrapper {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto 2rem;
	text-align: center;
}

.bubble-wrapper {
	margin-bottom: 2rem;
}

.emoji-bubble {
	border: 1px dotted @border-color;
	display: inline-block;
	padding: .5rem;
	font-size: 1.5rem;
	border-radius: 50%;
	height: 1.5rem;
	width: 1.5rem;
	margin: 0 .5rem .5rem 0;
	span {
		background-color: lightblue;
		margin-left: .75rem;
		display: none;
		position: absolute;
		font-size: 1rem;
		padding: .5rem;
		transform: translateX(-50%);
	};
	&:hover {
		span {
			display: block;
		}
	}
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}